body{
margin:0;
background:white;
font-family:Arial, Helvetica, sans-serif;
overflow:hidden;
}

/* intro */

#intro{
position:fixed;
inset:0;
background:white;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
}

.startBox{
text-align:center;
}

.startBox p{
font-size:20px;
margin-bottom:20px;
}

button{
padding:10px 20px;
border:1px solid black;
background:white;
cursor:pointer;
}

/* scene */

.scene{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.content{
display:flex;
gap:80px;
transform:scale(1.25);
}

/* discord */

.discord img{
width:320px;
border-radius:10px;
}

/* profile */

.profile{
text-align:center;
width:260px;
}

/* title */

h1{
margin:0;
font-size:32px;
}

/* lyrics */

.subtitle{
font-style:italic;
font-size:16px;
margin:10px 0;
min-height:24px;
}

/* visualizer */

.visualizer{
display:flex;
justify-content:center;
align-items:flex-end;
gap:2px;
height:37px;
margin:14px 0;
max-width:420px;
}

.visualizer div{
width:3px;
background:black;
height:6px;
}

/* tabs */

.tags{
display:flex;
justify-content:center;
gap:10px;
font-size:14px;
margin-bottom:12px;
}

.tab{
cursor:pointer;
position:relative;
padding-bottom:2px;
transition:opacity .2s ease;
}


.tab::after{
content:"";
position:absolute;
left:50%;
bottom:0;
width:0%;
height:2px;
background:black;
transform:translateX(-50%);
transition:width .25s ease;
}


.tab:hover{
opacity:.6;
}

.tab:hover::after{
width:100%;
}

.tab.active{
font-weight:bold;
}

.tab.active::after{
width:100%;
}

/* text */

.music{
font-size:14px;
line-height:1.5;
opacity:1;
transition:opacity .2s ease;
}

.music.fade{
opacity:0;
}

/* banner */

.banner{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:center;
}

.banner img{
max-height:200px;
}

/* mobile */

@media (max-width:700px){

.content{
flex-direction:column;
gap:25px;
transform:scale(1);
}

.discord img{
width:240px;
}

}